[submodule "utils/utils_modules/HeavyBall"]
    path = utils/utils_modules/HeavyBall
    url = https://github.com/ClashLuke/HeavyBall

[submodule "utils/utils_modules/shampoo_optimizers"]
    path = utils/utils_modules/shampoo_optimizers
    url = https://github.com/facebookresearch/optimizers/tree/main
