[submodule "model/flux/edm"]
    path = model/flux/edm
    url = https://github.com/NVlabs/edm

[submodule "model/lfq_vae/Cosmos-Tokenizer"]
    path = model/lfq_vae/Cosmos-Tokenizer
    url = https://github.com/NVIDIA/Cosmos-Tokenizer

[submodule "model/maskbit-pytorch"]
    path = model/maskbit-pytorch
    url = https://github.com/lucidrains/maskbit-pytorch

[submodule "model/module/LASP"]
    path = model/module/LASP
    url = https://github.com/OpenNLPLab/LASP

[submodule "utils/utils_modules/HeavyBall"]
    path = utils/utils_modules/HeavyBall
    url = https://github.com/ClashLuke/HeavyBall

[submodule "utils/utils_modules/shampoo_optimizers"]
    path = utils/utils_modules/shampoo_optimizers
    url = https://github.com/facebookresearch/optimizers/tree/main
